*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(253, 246, 228);
}

.logo{
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #8f45ff;
    border: 1px solid black;
    font-family: Gabarito;
}


.table{
    width: 95vw;
    margin: 50px auto;
    height: 60px;
    overflow: hidden;
    border: 1px solid black;
    background-color: #8f45ff;
    position: relative;
}

.heightManipulation{
    z-index: 100;
    display: none;
}

.container{
    padding-bottom: 70px;
}

.header{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    /* background: #9b9696; */
    background-color: #8f45ff;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background: #f5f5f5; /*c0a5f4cc*/
    margin-top: 5px;
}

.item_name{
    width: 115px;
    text-align: center;
}

.item_rate{
    width: 40px;
    text-align: center;
}

.item_quantity{
    width: 50px;
    text-align: center;
}


select, .list input{
    height: 25px;
    font-family: Gabarito;
}

.item_amount{
    width: 50px;
    text-align: center; 
}

.container .item_amount:not(:first-child){
    height: 25px;
    border: 01px solid gray;
    border-radius: 2px;
    background-color: white;
}

.list button{
    margin-left: 8px;
    border: 0;
    background: none;
}

.list button img{
    width: 26px;
    aspect-ratio: 1;
}

.add-btn{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.add-list button{
    position: relative;
    bottom: 60px;
    border: 0;
    margin-top: 20px;
    background: white;
}

.add-list img{
    width: 40px;
}

.final{
    background: #F5F7F8;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    width: 90vw;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    margin: 5px 1.9vw;
    align-items: center;
}

.final img{
    width: 40px;
    height: 35px;
}

.final p{
    font-size: 20px;
}

.final h2{
    font-family: Montserrat;
}
@media screen and (min-width:800px) {
    body{
        display: none;
    }
}
